.button {
  font-family: $primary-font;
  text-align: center;
  color: $base-white;
  border: none;
  border-radius: 4px;
  transition: background-color 100ms ease-in-out;
  cursor: pointer;
}

.button--primary {
  padding: 8px 20px;
  background-color: $base-primary;
  font-size: 16px;
  line-height: 24px;
}

.button--secondary {
  padding: 8px 20px;
  background-color: $base-white;
  color: $base-primary;
  font-size: 16px;
  line-height: 24px;

  @media (min-width: $desktop-width) {
    padding: 8px 34px;
  }
}

.button--secondary:hover,
.button--secondary:focus-visible {
  color: $base-white;
  background-color: $alt-primary-lighter;
}

.button--secondary:active {
  color: $base-white;
  background-color: $alt-primary-darker;
}

.button--primary:hover,
.button--primary:focus-visible {
  background-color: $alt-primary-lighter;
}

.button--primary:active {
  background-color: $alt-primary-darker;
}

.button--primary:disabled {
  background-color: $base-grey;
}
