.button {
  font-family: $primary-font;
  text-align: center;
  color: $base-white;
  border: none;
  border-radius: 4px;
  transition: background-color 200ms ease-in-out;
}

.button--primary {
  padding: 8px 20px;
  background-color: $base-primary;
}
