.header__logo {
  display: block;

  @media (min-width: 768px) {

    width: 82px;
    height: 36px;
  }

  @media (min-width: 1440px) {

    width: 170px;
    height: 36px;
  }
}

.header__wrapper {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header__top-wrapper {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 60px auto;
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-template-rows: auto;
    grid-template-columns: auto max(400px) auto;
    align-items: center;
    margin: 0 auto;
    gap: 100px;

  }
}

.header__nav {
  @media (min-width: $tablet-width) {

    grid-column: 2/3;
    grid-row: 1/2;
  }

}

.header__user-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-right: 60px;
  grid-column: 2/-1;
  grid-row: 1/2;

  @media (min-width: $tablet-width) {
    grid-column: 3/-1;
  }
}

.header__link {
  width: 28px;
  height: 22px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 20px;
  z-index: 200;
}

.header__link::before {
  content: "";
  position: absolute;
  mask-position: center;
  background-color: $base-black;
}

.header__link--user::before {
  mask-image: url("../../icons/stack.svg#user");
  width: 24px;
  height: 20px;
}

.header__link--basket::before {
  mask-image: url("../../icons/stack.svg#basket");
  width: 24px;
  height: 20px;
}
