.header__logo {
  display: block;

  @media (min-width: $tablet-width) {

    width: 82px;
    height: 36px;
  }

  @media (min-width: $desktop-width) {

    width: 170px;
    height: 36px;
  }
}

.header__wrapper {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 0 40px;
    margin: 0 auto;
  }
 }

.header__logo-wrapper {
  padding-left: 20px;

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 0;
  }
}

.header__title--desktop {
  font-size: 12px;
  line-height: 16px;
  width: 130px;
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.header__top-wrapper {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 60px auto;
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-template-rows: auto;
    grid-template-columns: auto max(400px) 130px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    grid-template-rows: auto;
    grid-template-columns: auto 560px 260px;
    align-items: center;
    justify-content: space-between;
  }
}

.header__nav {
  @media (min-width: $tablet-width) {

    grid-column: 2/3;
    grid-row: 1/2;
  }
}

.header__user-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-right: 70px;
  grid-column: 2/-1;
  grid-row: 1/2;

  @media (min-width: $tablet-width) {
    grid-column: 3/-1;
  }

  @media (min-width: $desktop-width) {
    padding-left: 47px;
    display: flex;
    gap: 100px;
  }
}

.header__link {
  width: 16px;
  height: 16px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 20px;
  z-index: 200;
  text-decoration: none;
}

.header__link::before {
  content: "";
  position: absolute;
  mask-position: center;
  background-color: $base-black;
  width: 16px;
  height: 16px;
}

.header__link--user::before {
  mask-image: url("../../icons/stack.svg#user");

  @media (min-width: $desktop-width) {
    left: -29px;
  }
}

.header__link--basket::before {
  mask-image: url("../../icons/stack.svg#basket");

  @media (min-width: $desktop-width) {
    left: -36px;
  }
}

.header__link-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    text-align: center;
    padding: 32px 20px;
  }
}
