.header-nav__list {
  @include list-reset;
  z-index: 60;
  width: 100%;
  background-color: $base-white;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-flow: row wrap;
  }

  @media (min-width: $desktop-width) {
    padding-left: 50px;
    gap: 22px;
  }
}

.header-nav__link {
  @include link-reset ($base-black);

  display: block;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  padding: 9px 5px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 32px 21px;
  }

  @media (min-width: $desktop-width) {
    padding: 32px 20px;
  }
}

.header-nav--opened .header-nav__link {
  padding: 20px 10px;
}

.header-nav__link--current {
  color: $base-primary;
  position: relative;
}

.header-nav__link--current::after {
  content: "";
  height: 2px;
  background-color: $base-primary;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.header-nav__toggle {
  width: 40px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 12px;
  padding: 0;

  @media (min-width: $max-mobile-width) {
    display: none;
  }
}

.header-nav--closed .header-nav__toggle::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 1px;
  top: 20px;
  right: 10px;
  background-color: $base-black;
  box-shadow: 0 -5px 0 0 $base-black, 0 5px 0 0 $base-black;
}

.header-nav--opened .header-nav__toggle::after,
.header-nav__toggle::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 1px;
  background-color: $base-black;
  right: 10px;
}

.header-nav--opened .header-nav__toggle::after {
  transform: rotate(45deg);
}

.header-nav--opened .header-nav__toggle::before {
  transform: rotate(-45deg);
}

.header-nav--closed .header-nav__list {
  @media (max-width: $max-mobile-width) {
    display: none;
  }
}

.header-nav--opened .header-nav__list {
  @media (max-width: $max-mobile-width) {
    position: absolute;
  }
}

.header-nav__item {
  border-top: 1px solid $base-secondary;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.header-nav__item:last-child {
  border-bottom: 1px solid $base-secondary;

  @media (min-width: $tablet-width) {
    border: none;
  }
}
