.hero-section {
  position: relative;
}

.hero-section__slide {
  display: none;

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.hero-section__slide--active {
  display: block;
}

.hero-section__slide--white {
  background-color: $bg-flat-white;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom, $bg-flat-white 640px, $base-white 640px);
  }

  @media (min-width: $desktop-width) {
    background: $bg-flat-white;
  }
}

.hero-section__slide--lavender {
  background-color: $bg-lavender-latte;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom, $bg-lavender-latte 640px, $base-white 640px);
  }

  @media (min-width: $desktop-width) {
    background: $bg-lavender-latte;
  }
}

.hero-section__slide--espresso {
  background-color: $bg-espresso;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom, $bg-espresso 640px, $base-white 640px);
  }

  @media (min-width: $desktop-width) {
    background: $bg-espresso;
  }
}

.hero-section__content {
  display: flex;
  flex-direction: column;
  text-align: center;

  @media (min-width: $tablet-width) {
    flex-direction: column-reverse;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    min-height: 714px;
    text-align: left;
    justify-content: center;
  }
}

.hero-section__image {
  margin: 20px auto 10px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 34px;
    margin-top: 30px;
  }
}

.hero-section__text-wrapper {
  @media (min-width: $desktop-width) {
    padding: 120px 30px;
  }
}

.hero-section__badge {
  margin-top: 0;
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-self: start;
  }
}

.hero-section__title {
  font-size: 36px;
  line-height: 48px;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: 0.02em;

  @media (min-width: $tablet-width) {
    font-size: 56px;
    line-height: 80px;
    margin-bottom: 16px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.hero-section__text {
  padding: 0 20px;
  margin: 0 auto 20px;
  max-width: 400px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    max-width: 604px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-bottom: 40px;
  }
}

.hero-section__order-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  margin-bottom: 60px;
  padding: 0 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
    justify-content: start;
    padding: 0;
  }
}

.hero-section__price-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  flex-direction: row;
}

.hero-section__price--old {
  font-size: 16px;
  line-height: 32px;
  text-decoration: line-through;
  color: $base-primary;
}

.hero-section__price--new {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  padding-left: 4px;
}

.hero-section__button-order {
  font-size: 16px;
  line-height: 24px;
}
