.price__slider-wrapper {
  padding-top: 11px;
  padding-bottom: 8px;
  margin-bottom: 27px;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 223px;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 0;
    margin-bottom: 25px;
    width: 318px;
  }
}

.price__field-wrapper {
  display: flex;
  flex-direction: row;
  gap: 44px;

  @media (min-width: $tablet-width) {
    gap: 48px;
  }
}

.price__field {
  width: 118px;
  font-family: $primary-font;
  color: $base-black;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding: 6px 10px;
  background-color: $base-white;
  border: 2px solid $alt-primary-lighter;
  border-radius: 4px;
  appearance: none;

  @media (min-width: $tablet-width) {
    width: 87px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
  }
}

.noui-target {
  background-color: $alt-light-grey;
  border: none;
  height: 2px;
}

.noui-connect {
  background-color: $base-primary;
}

.noui-horizontal .noui-handle {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  box-shadow: none;
  border: 2px solid $base-primary;
  top: -10px;
}

.noui-handle::after,
.noui-handle::before {
  display: none;
}

.noui-base {
  width: calc(100% - 25px);
  right: -7px;
}
