.radiobuttons__list {
  @include list-reset;
  margin-bottom: 10px;
}

.radiobuttons__label {
  position: relative;
  display: inline-block;
  padding-left: 35px;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
  user-select: none;
}

.radiobuttons__heading {
  cursor: pointer;
}

.radiobuttons__control-mark {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  background-color: $base-white;
  border: 2px solid $base-grey;
  border-radius: 50%;
  cursor: pointer;
}

.radiobuttons__control-input:checked ~ .radiobuttons__control-mark {
  background-color: $base-white;
  border-color: $base-primary;
}

.radiobuttons__control-input:disabled ~ .radiobuttons__control-mark {
  border-color: $alt-light-grey;
  cursor: auto;
}

.radiobuttons__control-input:disabled + .radiobuttons__heading {
  color: $base-grey;
  cursor: auto;
}

.radiobuttons__control-input:checked ~ .radiobuttons__control-mark::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $base-primary;
}

.radiobuttons__control-input:checked:disabled ~ .radiobuttons__control-mark::before {
  background-color: $alt-light-grey;
}

.radiobuttons__label:hover .radiobuttons__control-mark::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $alt-primary-lighter;
  opacity: 0.25;
}

.radiobuttons__label:hover .radiobuttons__control-mark {
  border-color: $alt-primary-lighter;
}

.radiobuttons__label:hover .radiobuttons__control-input:disabled ~ .radiobuttons__control-mark::before {
  background-color: transparent;
}

.radiobuttons__label:hover .radiobuttons__control-input:disabled ~ .radiobuttons__control-mark {
  border-color: $alt-light-grey;
}

.radiobuttons__label:hover .radiobuttons__control-input:checked ~ .radiobuttons__control-mark::before {
  background-color: $base-primary;
  opacity: 1;
}

.radiobuttons__control-input:focus-visible ~ .radiobuttons__control-mark {
  border-color: $alt-primary-lighter;
}

.radiobuttons__control-input:focus-visible ~ .radiobuttons__control-mark::before {
  background-color: $alt-primary-lighter;
  opacity: 0.25;
}
