.social-list {
  @include list-reset;

  display: flex;
  gap: 20px;
}

.social-list__link {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 4px;
  transition: all 200ms ease-in-out;
}

.social-list__link::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: $base-grey;
  mask-position: center;
  transition: all 200ms ease-in-out;
}

.social-list__link--vk::before {
  mask-image: url("../../icons/vk.svg");
}

.social-list__link--pint::before {
  mask-image: url("../../icons/pinterest.svg");
  width: 22px;
  height: 22px;
}

.social-list__link--ok::before {
  mask-image: url("../../icons/ok.svg");
}

.social-list__link:hover::before {
  background-color: $base-primary;
}

.social-list__link:hover {
  background-color: $base-secondary;
}

.social-list__link:active {
  background-color: #7859cf40;
}
